*

!.gitignore
!README.md
!LICENSE.md

!/src
!/src/*
!/src/*/*
!/src/*/*/*
!/include
!/include/*
!/include/*/*
!/include/*/*/*
!/third
!/third/*
!/doc
!/doc/*
!/cmake
!/cmake/.gitkeep

!main.cpp
!CMakeLists.txt
